body {
background: -moz-linear-gradient(32deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 0%, rgba(55,54,128,1) 8%, rgba(255,255,0,1) 24%, rgba(28,255,251,1) 42%, rgba(128,0,128,1) 59%, rgba(0,47,255,1) 75%, rgba(255,0,0,1) 99%, rgba(0,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,255,0,1)), color-stop(0%, rgba(0,255,0,1)), color-stop(8%, rgba(55,54,128,1)), color-stop(24%, rgba(255,255,0,1)), color-stop(42%, rgba(28,255,251,1)), color-stop(59%, rgba(128,0,128,1)), color-stop(75%, rgba(0,47,255,1)), color-stop(99%, rgba(255,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(32deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 0%, rgba(55,54,128,1) 8%, rgba(255,255,0,1) 24%, rgba(28,255,251,1) 42%, rgba(128,0,128,1) 59%, rgba(0,47,255,1) 75%, rgba(255,0,0,1) 99%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(32deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 0%, rgba(55,54,128,1) 8%, rgba(255,255,0,1) 24%, rgba(28,255,251,1) 42%, rgba(128,0,128,1) 59%, rgba(0,47,255,1) 75%, rgba(255,0,0,1) 99%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(32deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 0%, rgba(55,54,128,1) 8%, rgba(255,255,0,1) 24%, rgba(28,255,251,1) 42%, rgba(128,0,128,1) 59%, rgba(0,47,255,1) 75%, rgba(255,0,0,1) 99%, rgba(0,0,0,1) 100%); /* ie10+ */
background: linear-gradient(58deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 0%, rgba(55,54,128,1) 8%, rgba(255,255,0,1) 24%, rgba(28,255,251,1) 42%, rgba(128,0,128,1) 59%, rgba(0,47,255,1) 75%, rgba(255,0,0,1) 99%, rgba(0,0,0,1) 100%);
text-align:center;
}
#main {
width: 1000px;
height: 1200px;
background: #ffffff;
margin: 50px auto;
border: solid 5px #ffffff;
padding: 10px;
}
h1 {
text-align:center;
font-family:"Times New Roman";
color: #800000
} 
hr {
height: 2px;
color: #ffffff;
}
p {
font-family:"Calibri";
font-size: 12pt;
text-align: left;
text-indent:48px;
color: #1a1a1a;
}
#beta {
text-align:right;
width: 200px;
height:210px;
background: #d9d9d9;
margin: 25px auto;
border: solid 5px #1a1a1a;
padding:10px;
}
h2 {
text-align: center;
font-family:"Times New Roman";
color:#800000;
}
h3 {
text-align:center;
}
#alpha {
text-align:justify;
font-size:20pt;
}
h4 {
text-align:center;
}
